<div class="container-fluid my-5">
  <div id="printableArea">
    <h2 class="text-center">K.E. Society’s</h2>
    <h3 class="text-center">
      Rajarambapu Institute of Technology, Rajaramnagar
    </h3>
    <h4 class="text-center">Diploma Wing</h4>
    <h4 class="text-center">FACULTY PROFILE</h4>
    <form>
      <div class="row mb-3">
        <label for="facultyName" class="col-sm-4 col-form-label"
          >1. Faculty Name:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="facultyName"
              placeholder="Enter Faculty Name"
              required
              value="Faculty one name"
            />
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="facultyDesignation" class="col-sm-4 col-form-label"
          >2. Faculty Designation:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="facultyDesignation"
              placeholder="Enter Designation"
              required
              value="Faculty one Designation"
            />
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="highestQualification" class="col-sm-4 col-form-label"
          >3. Highest Qualification:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="highestQualification"
              placeholder="Enter Highest Qualification"
              required
              value="Faculty one Qualification"
            />
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="teachingExperience" class="col-sm-4 col-form-label"
          >4. Experience Teaching Years:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              id="teachingExperience"
              placeholder="Enter Teaching Experience (Years)"
              value="Faculty one Teaching Experience"
            />
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="industrialExperience" class="col-sm-4 col-form-label"
          >5. Experience Industrial:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              id="industrialExperience"
              placeholder="Enter Industrial Experience (Years)"
              required
              value="Faculty one Industrial Experience"
            />
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="additionalInfo" class="col-sm-4 col-form-label"
          >6. Additional Information:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <textarea
              class="form-control"
              id="additionalInfo"
              rows="3"
              placeholder="Enter Additional Information"
              value="Faculty one Additional Information"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="dateOfAppointment" class="col-sm-4 col-form-label"
          >7. Date of Appointment:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <input
              type="date"
              class="form-control"
              id="dateOfAppointment"
              required
              value=""
            />
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="subjectsTaught" class="col-sm-4 col-form-label"
          >8. Subjects Taught:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="subjectsTaught"
              placeholder="Enter Subjects Taught"
              required
              value="Faculty one subject taught"
            />
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="trainingAttended" class="col-sm-4 col-form-label"
          >9. Training / FDP attended in last 2 Years:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <textarea
              class="form-control"
              id="trainingAttended"
              rows="3"
              placeholder="Enter Training / FDP attended"
              value="Faculty one Training"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="conferencesAttended" class="col-sm-4 col-form-label"
          >10. Conferences/Seminars/Workshops attended:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <textarea
              class="form-control"
              id="conferencesAttended"
              rows="3"
              placeholder="Enter Conferences/Seminars/Workshops attended"
              value="Faculty one Conferences"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="papersPublished" class="col-sm-4 col-form-label"
          >11. Papers Published:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <textarea
              class="form-control"
              id="papersPublished"
              rows="3"
              placeholder="Enter Papers Published"
              value="Faculty one paper published"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="researchProjects" class="col-sm-4 col-form-label"
          >12. Research/Development Projects Undertaken:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <textarea
              class="form-control"
              id="researchProjects"
              rows="3"
              placeholder="Enter Research/Development Projects Undertaken"
              value="Faculty one Research"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="emailAddress" class="col-sm-4 col-form-label"
          >13. Email Address:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              id="emailAddress"
              placeholder="Enter Email Address"
              required
              value="Faculty one Email address"
            />
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="address" class="col-sm-4 col-form-label"
          >14. Address:</label
        >
        <div class="col-sm-8">
          <div class="input-group">
            <textarea
              class="form-control"
              id="address"
              rows="3"
              placeholder="Enter Address"
              value="Faculty one address"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="text-center">
    <button
      (click)="editForm()"
      *ngIf="!isDisbaled"
      type="submit"
      class="btn btn-primary"
    >
      Edit
    </button>
    <button *ngIf="isDisbaled" type="submit" class="btn btn-primary">
      Submit
    </button>
    <button (click)="pritnTheForm()" class="btn btn-success">Print</button>
  </div>
</div>
