<div class="main">
    <div class="title">
        <span>Select your department</span>
    </div>
    <div class="depart-content">
        <div class="ds">
            <div class="imgs" routerLink="/department/computer">
                <!-- <a class="imgs" [routerLink]="['/department/computer']"></a> -->
                <img src="computer.jpg" alt="">
                <span>Computer</span>
            </div>
            <div  class="imgs">
                <img src="electrical.jpg" alt="">
                <span>Electrical</span>
            </div>
        </div>
        <div class="ds">
            <div  class="imgs">
                <img src="mechanical.png" alt="">
                <span>Mechanical</span>
            </div>
            <div  class="imgs">
                <img src="civil.webp" alt="">
                <span>Civil</span>
            </div>
        </div>
    </div>
    
</div>
